/*reset*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

.link {
    text-decoration: none;
    color: currentColor;
}

.address-style {
    font-style: normal;
}

/*variables*/

:root {
--color-heder-link: #2e2f42;
    --color-heder-link-ahf: #404bbf;
    --color-main-text: #434455;
    --bg-color-btn: #4d5ae5;
    --bg-color-btn-hf: #404bbf;
    --border-color: #e7e9fc;
    --bg-main-color: #f4f4fd;
    --bg-body-color: #ffffff;
    --color-main-title: #ffffff;
    --color-btn-text: #ffffff;
    --color-footer-logo: #f4f4fd;
    --color-footer-paragraf: #f4f4fd;
    --color-overlay-text: #f4f4fd;
    --color-social-paragraf: #ffffff;
    --bg-overlay-text: #4d5ae5;
    --bg-callback-form: #fcfcfc;
    --bg-modal-box: rgba(46, 47, 66, 0.4);
    --bg-social-link-hover: #31d0aa;
    --fill-icon-customer: #8e8f99;
    --fill-icon-customer-hover: #404bbf;
}

/*base styles*/

body {
    font-family: var(--primary-font-family);
    font-size: 16px;
    line-height: 24px;
    color: var(--body-text-color);
    /* or 150% */
    letter-spacing: 0.02em;
    background-color: var(--white-color);
}

.section-alfa {
    padding-bottom: 120px;
}

.section-beta {
    padding: 120px 0;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.card:not(:last-child) {
    margin-right: 24px;
}

.header-one {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-color);
}

.header-two {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-color);
}

.header-three {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    margin-bottom: 8px;
}

.photo {
    display: block;
    width: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*logo*/

.logo {
    font-family: var(--logo-font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand-color);
    margin-right: 76px;
}

/*header styles*/

.header {
    background-color: var(--white-color);
    border-bottom: 1px solid var(--accent-color);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}

.nav-container {
    display: flex;
    align-items: center;
}

.nav-logo-span {
    color: var(--dark-color);
}

.nav-menu-container {
    display: flex;
    max-width: 261px;
    gap: 40px;
    align-items: center;
}

.nav-menu {
    font-weight: 500;
    color: var(--dark-color);
}

.nav-menu:hover,
.address-text:hover,
.nav-menu:focus,
.address-text:focus {
    color: var(--pressed-state-color);
}

.address-container {
    display: flex;
    gap: 40px;
    justify-content: flex-end;
    align-items: center;
}

/*index.html section 1 styles*/

.hero {
    background-color: var(--dark-color);
    padding: 188px 0;
}

.hero-header {
    margin: 0 auto 48px auto;
    max-width: 496px;
}

.order-service-button {
    border: none;
    font-family: var(--primary-font-family);
    background-color: var(--primary-brand-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: var(--white-color);
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    height: 56px;
    min-width: 169px;
}

.order-service-button:hover,
.order-service-button:focus {
    background-color: var(--pressed-state-color);
}

/*index.html section 2 styles*/

.webstudio-container {
    display: flex;
    justify-content: center;
}

.webstudio-container-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
}

/*index.html section 3 styles*/

.portfolio-header {
    margin: 0 auto 72px;
}

.portfolio-container {
    display: flex;
}

.portfolio-card {
    flex-basis: calc((100% - 2 * 24px) / 3);
    max-height: 300px;
}

/*index.html section 4 styles*/

.team {
    background-color: var(--light-color);
}

.team-header {
    margin: 0 auto 72px;
}

.team-container {
    display: flex;
}

.team-card {
    background-color: var(--white-color);
    flex-basis: calc((100% - 3 * 24px) / 4);
    max-height: 380px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-card-content {
    text-align: center;
    padding: 32px 16px;
}

.team-text {
    /*useles rule, just autocheck requirement to assign class to <p>*/
    display: block;
}


/* Section customers */

.customers {
    display: flex;
}
    
.header-two {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;

}
    
.customers-logo {
    display: flex;
    justify-content: center;
    gap: 24px;
    text-align: center;
    
}
    
.list {}
    
.customers-card {
    width: calc((100% - 120px) / 6);
    height: 88px;
    border-radius: 4px;
    border: 1px solid var(--lightslate, #8E8F99);
}
    
.card {}
    
.cliens-link {
width: 100%;
height: 100%;
border: 1px solid var(--fill-icon-customer);
border-radius: 4px;
display: flex;
align-items: center;
justify-content: center;
color: var(--fill-icon-customer);
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-card .cliens-link .clients-icon:hover,
.customers-card .cliens-link .clients-icon:focus,
.customers-card .cliens-link .clients-icon:active{
    border-color: var(--fill-icon-customer-hover);
    color: var(--fill-icon-customer-hover);
}

.clients-icon {
    margin: 16px 32px;
    fill: currentColor;
    
}
/*portfolio.html section styles*/

.portfolio-page-section {
    padding-top: 96px;
}

/*portfolio.html filter styles*/

.portfolio-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 72px;
}

.filter-button {
    font-family: var(--primary-font-family);
    background-color: var(--light-color);
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--primary-brand-color);
    cursor: pointer;
    padding: 12px 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.filter-button:hover,
.filter-button:focus {
    background-color: var(--pressed-state-color);
    border: 1px solid transparent;
    color: var(--white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*portfolio.html portfolio styles*/

.portfolio-page-list-container {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-page-card {
    flex-basis: calc((100% - 2 * 24px) / 3);
}

.portfolio-page-card-content {
    padding: 32px 16px;
    border: 1px solid var(--accent-color);
    border-top: none;
}

/*footer styles*/

.footer {
    background-color: var(--dark-color);
    padding: 100px 0;
}

.footer-link {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-paragraph {
    max-width: 264px;
}

.footer-text {
    color: var(--light-color);
}